@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.sidebar-desktop {
  @apply w-96 px-3 py-5 text-white md:relative;
}


li {
  @apply bg-[#FB7979] w-60 h-14 
          flex items-center justify-center rounded-[30px]
}

li:hover {
  @apply cursor-pointer bg-[#b95488];
}

li.active {
  @apply border border-indigo-600 bg-[#E94C4C];
}
